.topper {
  color: #ffcb05;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  text-align: center;
  background-color: #003a70;
  max-width: 100%;
}

.mainbox {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(12, 1fr);
  border: 2px solid blue;
  margin: 100px;
}

h1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
  display: inline-block;
  text-align: center;
  background-color: #3d7dca;
  color: #ffcb05;
  margin-top: 0px;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.tab {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.buttonStyle {
  font-size: 20px;
  color: #ffcb05;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  background-color: #3d7dca;
  text-align: center;
  padding: 20px 30px;
  margin: 0px auto;
  display: inline;
  border: none;
}

.image {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  border: 2px solid green;
}

.pokeText {
  grid-row: 3 / span 2;
  grid-column: 4 / span 7;
  border: 2px solid purple;
  line-height: 20px;
}
.stats {
  grid-row: 5 / span 1;
  grid-column: 4 / span 1;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 50px;
}

.stats2 {
  grid-row: 5 / span 1;
  grid-column: 7 / span 1;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 50px;
}
.ability1 {
  border: 2px solid orange;
  grid-row: 6 / span 1;
  grid-column: 4 / span 1;
  margin: 0px;
  text-align: center;
}

.ability2 {
  border: 2px solid blue;
  grid-row: 7 / span 1;
  grid-column: 4 / span 1;
  text-align: center;
}

.move1 {
  border: 2px solid green;
  grid-row: 6 / span 1;
  grid-column: 7 / span 1;
  text-align: center;
}

.move2 {
  border: 2px solid green;
  grid-row: 7 / span 1;
  grid-column: 7 / span 1;
  text-align: center;
}

.image2 {
  border: 2px solid pink;
  grid-row: 7 / span 1;
  grid-column: 10 / span 1;
}
